Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @barrmelissa
 Sign out
 Watch 0
  Star 0
  Fork 0 barrmelissa/youtube-API
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Settings Insights 
Tree: 414dd55e72 Find file Copy pathyoutube-API/style.css
414dd55  3 hours ago
@barrmelissa barrmelissa Create style.css
1 contributor
RawBlameHistory     
76 lines (63 sloc)  944 Bytes
body{
	background-color:white;
}

div.outer {
	width: 80%;
	border: 5px solid red;
}

nav.navigation {
	width: 20%;
    background-color: #E1EAED;
    position: fixed;
	top: 5%;
    right:0;
	border: 1px solid black;
	z-index: 2;
	padding-left: 10px;
	padding-right: 10px;
}

div.inner-body {
	width: 93%;
	margin-left:3%;
}


div.inner-heading {
	margin-right:1%;
	margin-left:1%;
}

div.blackBar {
	background-color: black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
}

div.inner-heading {
	background-color: red;
	border-radius: 25px;
	text-align: center;
	margin-left: 33%;
	margin-right: 33%;
	color: white;
}

h1 {
	background-color: red;
	border-radius: 25px;
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}

th, td {
	padding: 3px;
}

code {
	background-color: #E1EAED;
}

code.chunk {
	background-color: white;
}

h4 {
	font-style: italic;
}
